In [1]:
#installing packages
library(dplyr)
library(tidyverse)
#install.packages("countrycode")
library(countrycode)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.3     v stringr 1.4.0
v tidyr   1.1.3     v forcats 0.5.1
v readr   2.0.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Warning message:
"package 'countrycode' was built under R version 4.1.1"

In [2]:
# read the datasets
climate_data <- read.csv("climate.csv")
population_data <- read.csv("PopulationData.csv")
covid_data <- read.csv("Covid_Data_New.csv")
oecd_data <- read.csv("OECD_country_codes.csv")
head(climate_data)
head(population_data)
head(covid_data)
head(oecd_data)
count(population_data)
count(covid_data)

  fips tavg     prcp       iso3166 Name
1 AE   30.60948  0.0000000 AE      United Arab Emirates
2 AF   19.30219  3.3200000 AF      Afghanistan
3 AG   22.93812  0.7833752 DZ      Algeria
4 AJ   17.32671 10.9521967 AZ      Azerbaijan
5 AL   17.23447         NA AL      Albania
6 AM   10.79957  3.0507692 AM      Armenia

  X country        urbanisation_rate urbanisation_yearly_change gdp_per_cap
1 1 Afghanistan    26.3              3.34                        2065
2 2 Albania        63.0              1.29                       13965
3 3 Algeria        74.3              1.99                       11511
4 4 American Samoa 87.2              0.26                       11200
5 5 Andorra        87.9              0.11                       49900
6 6 Angola         67.5              4.04                        6670
  size    population density country_code
1  652230 37466414    57.44  AFG
2   28748  3088385   107.43  ALB
3 2381740 43576691    18.30  DZA
4     224    46366   206.99  ASM
5     468    85645   183.00  AND
6 1246700 33642646    26.99  AGO

  X country_code country_name             total_cases total_deaths
1 1 USA          United States of America 44408612    715179
2 2 IND          India                    34081315    452290
3 3 BRA          Brazil                   21597949    601574
4 4 GBR          The United Kingdom        8449169    138584
5 5 RUS          Russian Federation        8027012    224310
6 6 TUR          Turkey                    7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated
1 416110353          233521350        203896677
2 951984373          683009792        268974581
3 246737803          151223500        105063574
4  94376101           49186920         45073591
5  94491689           49463056         45028077
6 112360409           54497626         46903485
  total_vaccinations_per100 first_vaccine_date last_updated_date stringency
1 125.712                   2020-12-14         2021-10-15        61.57
2  68.984                   2021-01-16         2021-10-11        54.17
3 116.079                   2021-01-17         2021-10-15        40.28
4 139.000                   2020-12-21         2021-10-12        41.20
5  64.700                   NA                 2021-10-13        54.17
6 133.200                   NA                 2021-10-13        58.33

  name      iso3c
1 Australia AUS
2 Austria   AUT
3 Belgium   BEL
4 Canada    CAN
5 Chile     CHL
6 Colombia  COL

  n
1 225

  n
1 231

In [3]:
# join the covid and population datasets into one dataframe
Main_DataFrame1 <- inner_join(covid_data, population_data, by=c("country_code")) %>%
  select(country_code, country_name, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
        total_vaccinations_per100, first_vaccine_date, last_updated_date, stringency, population, urbanisation_rate, urbanisation_yearly_change,
       gdp_per_cap,density) %>% as.data.frame()



head(Main_DataFrame1)
count(Main_DataFrame1)
summary(Main_DataFrame1)

  country_code country_name             total_cases total_deaths
1 USA          United States of America 44408612    715179
2 IND          India                    34081315    452290
3 BRA          Brazil                   21597949    601574
4 GBR          The United Kingdom        8449169    138584
5 RUS          Russian Federation        8027012    224310
6 TUR          Turkey                    7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated
1 416110353          233521350        203896677
2 951984373          683009792        268974581
3 246737803          151223500        105063574
4  94376101           49186920         45073591
5  94491689           49463056         45028077
6 112360409           54497626         46903485
  total_vaccinations_per100 first_vaccine_date last_updated_date stringency
1 125.712                   2020-12-14         2021-10-15        61.57
2  68.984                   2021-01-16         2021-10-11        54.17
3 116.079                   2021-01-17         2021-10-15        40.28
4 139.000                   2020-12-21         2021-10-12        41.20
5  64.700                   NA                 2021-10-13        54.17
6 133.200                   NA                 2021-10-13        58.33
  population urbanisation_rate urbanisation_yearly_change gdp_per_cap density
1  334998398 82.9              0.96                       62530        34.07
2 1339330514 35.4              2.33                        6700       407.43
3  213445417 87.3              0.87                       14652        25.06
4   67081000 84.2              0.80                       46659       275.36
5  142320790 74.9              0.11                       27044         8.32
6   82482383 76.6              1.11                       28424       105.27

  n
1 221

 country_code       country_name        total_cases        total_deaths
 Length:221         Length:221         Min.   :       0   Min.   :     0
 Class :character   Class :character   1st Qu.:   10860   1st Qu.:   130
 Mode  :character   Mode  :character   Median :  116665   Median :  1531
                                       Mean   : 1086427   Mean   : 22088
                                       3rd Qu.:  531648   3rd Qu.:  9510
                                       Max.   :44408612   Max.   :715179

 total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :1.936e+03   Min.   :9.680e+02   Min.   :9.680e+02
 1st Qu.:2.183e+05   1st Qu.:1.337e+05   1st Qu.:8.982e+04
 Median :1.790e+06   Median :8.820e+05   Median :7.085e+05
 Mean   :3.041e+07   Mean   :1.757e+07   Mean   :1.304e+07
 3rd Qu.:1.094e+07   3rd Qu.:5.834e+06   3rd Qu.:4.746e+06
 Max.   :2.228e+09   Max.   :1.155e+09   Max.   :1.015e+09
 NA's   :6           NA's   :10          NA's   :9
 total_vaccinations_per100 first_vaccine_date last_updated_date
 Min.   :  0.157           Length:221         Length:221
 1st Qu.: 29.512           Class :character   Class :character
 Median : 85.300           Mode  :character   Mode  :character
 Mean   : 82.505
 3rd Qu.:129.947
 Max.   :243.288
 NA's   :6
   stringency      population        urbanisation_rate
 Min.   : 2.78   Min.   :1.647e+03   Min.   :  0.00
 1st Qu.:35.19   1st Qu.:5.895e+05   1st Qu.: 42.60
 Median :46.76   Median :5.866e+06   Median : 62.60
 Mean   :46.61   Mean   :3.496e+07   Mean   : 60.72
 3rd Qu.:57.18   3rd Qu.:2.361e+07   3rd Qu.: 81.10
 Max.   :88.89   Max.   :1.398e+09   Max.   :100.00
 NA's   :43
 urbanisation_yearly_change  gdp_per_cap        density
 Min.   :-1.230             Min.   :   752   Min.   :    0.03
 1st Qu.: 0.610             1st Qu.:  5213   1st Qu.:   34.07
 Median : 1.340             Median : 14404   Median :   94.22
 Mean   : 1.662             Mean   : 22968   Mean   :  322.94
 3rd Qu.: 2.590             3rd Qu.: 34518   3rd Qu.:  214.05
 Max.   : 5.430             Max.   :139100   Max.   :15611.50

In [4]:
#Change the column name in climate_data from Name to country_name
colnames(climate_data)[colnames(climate_data) == "iso3166"] <- "country_code"
colnames(climate_data)[colnames(climate_data) == "Name"] <- "country_name"
colnames(climate_data)[colnames(climate_data) == "tavg"] <- "avg_temperature"
colnames(climate_data)[colnames(climate_data) == "prcp"] <- "precipitation"
climate_data$country_code = countrycode(climate_data$country_name, "country.name", "iso3c")

head(climate_data)
summary(climate_data)
climate_data1 <- climate_data %>% mutate_if(is.numeric, round, digits = 2)
head(climate_data1)

Warning message in countrycode_convert(sourcevar = sourcevar, origin = origin, destination = dest, :
"Some values were not matched unambiguously: Akrotiri, Ashmore and Cartier Islands, Baker Island, Clipperton Island, Coral Sea Islands, Dhekelia, Etorofu, Habomai, Kunashiri, and Shikotan Islands, Europa Island, Glorioso Islands, Howland Island, Jan Mayen, Jarvis Island, Johnston Atoll, Juan de Nova Island, Kingman Reef, Kosovo, Midway Islands, Navassa Island, Palmyra Atoll, Paracel Islands, Saint Martin, Spratly Islands, Tromelin Island, Wake Island, World
"

  fips avg_temperature precipitation country_code country_name
1 AE   30.60948         0.0000000    ARE          United Arab Emirates
2 AF   19.30219         3.3200000    AFG          Afghanistan
3 AG   22.93812         0.7833752    DZA          Algeria
4 AJ   17.32671        10.9521967    AZE          Azerbaijan
5 AL   17.23447                NA    ALB          Albania
6 AM   10.79957         3.0507692    ARM          Armenia

     fips           avg_temperature  precipitation    country_code
 Length:279         Min.   :-22.06   Min.   : 0.000   Length:279
 Class :character   1st Qu.: 14.59   1st Qu.: 2.195   Class :character
 Mode  :character   Median : 23.71   Median : 4.580   Mode  :character
                    Mean   : 20.52   Mean   : 5.560
                    3rd Qu.: 27.15   3rd Qu.: 8.537
                    Max.   : 30.95   Max.   :20.825
                    NA's   :88       NA's   :101
 country_name
 Length:279
 Class :character
 Mode  :character

  fips avg_temperature precipitation country_code country_name
1 AE   30.61            0.00         ARE          United Arab Emirates
2 AF   19.30            3.32         AFG          Afghanistan
3 AG   22.94            0.78         DZA          Algeria
4 AJ   17.33           10.95         AZE          Azerbaijan
5 AL   17.23              NA         ALB          Albania
6 AM   10.80            3.05         ARM          Armenia

In [5]:
Main_DataFrame2 = filter(climate_data1, !is.na(climate_data1$precipitation))
summary(Main_DataFrame2)
count(Main_DataFrame2)

     fips           avg_temperature  precipitation    country_code
 Length:178         Min.   :-22.06   Min.   : 0.000   Length:178
 Class :character   1st Qu.: 14.06   1st Qu.: 2.195   Class :character
 Mode  :character   Median : 23.38   Median : 4.580   Mode  :character
                    Mean   : 20.27   Mean   : 5.560
                    3rd Qu.: 27.15   3rd Qu.: 8.537
                    Max.   : 30.77   Max.   :20.820
                    NA's   :4
 country_name
 Length:178
 Class :character
 Mode  :character

  n
1 178

In [6]:
# join two data frames into one data frame
Main_DataFrame <- left_join(Main_DataFrame1, Main_DataFrame2, by = c("country_code")) %>%
  select(country_code, country_name.x, population, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
         total_vaccinations_per100,first_vaccine_date, last_updated_date, stringency, urbanisation_rate, urbanisation_yearly_change, gdp_per_cap, 
         density,avg_temperature,precipitation) %>%
  as.data.frame()

head(Main_DataFrame)
count(Main_DataFrame)
summary(Main_DataFrame)

  country_code country_name.x           population total_cases total_deaths
1 USA          United States of America  334998398 44408612    715179
2 IND          India                    1339330514 34081315    452290
3 BRA          Brazil                    213445417 21597949    601574
4 GBR          The United Kingdom         67081000  8449169    138584
5 RUS          Russian Federation        142320790  8027012    224310
6 TUR          Turkey                     82482383  7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated
1 416110353          233521350        203896677
2 951984373          683009792        268974581
3 246737803          151223500        105063574
4  94376101           49186920         45073591
5  94491689           49463056         45028077
6 112360409           54497626         46903485
  total_vaccinations_per100 first_vaccine_date last_updated_date stringency
1 125.712                   2020-12-14         2021-10-15        61.57
2  68.984                   2021-01-16         2021-10-11        54.17
3 116.079                   2021-01-17         2021-10-15        40.28
4 139.000                   2020-12-21         2021-10-12        41.20
5  64.700                   NA                 2021-10-13        54.17
6 133.200                   NA                 2021-10-13        58.33
  urbanisation_rate urbanisation_yearly_change gdp_per_cap density
1 82.9              0.96                       62530        34.07
2 35.4              2.33                        6700       407.43
3 87.3              0.87                       14652        25.06
4 84.2              0.80                       46659       275.36
5 74.9              0.11                       27044         8.32
6 76.6              1.11                       28424       105.27
  avg_temperature precipitation
1 10.47            2.99
2 26.99           11.19
3 24.47            6.04
4 10.14            2.35
5  2.01            1.62
6 17.05            2.68

  n
1 222

 country_code       country_name.x       population         total_cases
 Length:222         Length:222         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:5.939e+05   1st Qu.:   11014
 Mode  :character   Mode  :character   Median :5.880e+06   Median :  119514
                                       Mean   :3.506e+07   Mean   : 1083731
                                       3rd Qu.:2.526e+07   3rd Qu.:  526754
                                       Max.   :1.398e+09   Max.   :44408612

  total_deaths    total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0   Min.   :1.936e+03   Min.   :9.680e+02   Min.   :9.680e+02
 1st Qu.:   130   1st Qu.:2.232e+05   1st Qu.:1.337e+05   1st Qu.:9.043e+04
 Median :  1540   Median :1.793e+06   Median :8.942e+05   Median :7.116e+05
 Mean   : 22071   Mean   :3.032e+07   Mean   :1.752e+07   Mean   :1.300e+07
 3rd Qu.:  9926   3rd Qu.:1.105e+07   3rd Qu.:5.919e+06   3rd Qu.:4.644e+06
 Max.   :715179   Max.   :2.228e+09   Max.   :1.155e+09   Max.   :1.015e+09
                  NA's   :6           NA's   :10          NA's   :9
 total_vaccinations_per100 first_vaccine_date last_updated_date
 Min.   :  0.157           Length:222         Length:222
 1st Qu.: 29.304           Class :character   Class :character
 Median : 85.136           Mode  :character   Mode  :character
 Mean   : 82.227
 3rd Qu.:129.924
 Max.   :243.288
 NA's   :6
   stringency    urbanisation_rate urbanisation_yearly_change  gdp_per_cap
 Min.   : 2.78   Min.   :  0.00    Min.   :-1.230             Min.   :   752
 1st Qu.:35.19   1st Qu.: 42.15    1st Qu.: 0.620             1st Qu.:  5201
 Median :47.22   Median : 62.55    Median : 1.345             Median : 14184
 Mean   :46.74   Mean   : 60.58    Mean   : 1.663             Mean   : 22888
 3rd Qu.:57.87   3rd Qu.: 81.08    3rd Qu.: 2.580             3rd Qu.: 34439
 Max.   :88.89   Max.   :100.00    Max.   : 5.430             Max.   :139100
 NA's   :43
    density         avg_temperature precipitation
 Min.   :    0.03   Min.   :-4.15   Min.   : 0.000
 1st Qu.:   34.37   1st Qu.:14.13   1st Qu.: 2.355
 Median :   93.87   Median :23.56   Median : 4.905
 Mean   :  321.87   Mean   :20.67   Mean   : 5.723
 3rd Qu.:  213.50   3rd Qu.:27.20   3rd Qu.: 8.650
 Max.   :15611.50   Max.   :30.77   Max.   :20.820
                    NA's   :59      NA's   :56

In [7]:
# mutate 3 new columns
Final_Data <- Main_DataFrame %>% mutate(Infection_Rate_per_1000 = round((total_cases/population)*1000, digits = 2),
                                        Deaths_per_1000 = round((total_deaths/population)*1000, digits = 2), 
                                        total_vaccinations_per_1000 = round((total_vaccinations/population)*1000))%>%
                                  rename(country_name = country_name.x)%>%
                                  select(-9)%>%
                                  distinct(country_code, .keep_all = TRUE)%>% as.data.frame()

head(Final_Data)
# change the column name in oecd_data from iso3c to country_code & name to oecd_country_name
Oecd_data <- oecd_data %>% rename(country_code = iso3c , oecd_country_name = name)%>% as.data.frame()
head(Oecd_data)

Final_data1 <- left_join(Final_Data, Oecd_data, by = c("country_code")) %>% as.data.frame()
head(Final_data1)
Final_Data2 <- Final_data1 %>% mutate(Final_data1 , oecd_country = case_when(oecd_country_name != 'NA' ~ 'Yes' , TRUE ~ 'No') ) %>% select(-21)%>%
                                    as.data.frame()
head(Final_Data2)

  country_code country_name             population total_cases total_deaths
1 USA          United States of America  334998398 44408612    715179
2 IND          India                    1339330514 34081315    452290
3 BRA          Brazil                    213445417 21597949    601574
4 GBR          The United Kingdom         67081000  8449169    138584
5 RUS          Russian Federation        142320790  8027012    224310
6 TUR          Turkey                     82482383  7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated first_vaccine_date
1 416110353          233521350        203896677         2020-12-14
2 951984373          683009792        268974581         2021-01-16
3 246737803          151223500        105063574         2021-01-17
4  94376101           49186920         45073591         2020-12-21
5  94491689           49463056         45028077         NA
6 112360409           54497626         46903485         NA
  last_updated_date stringency urbanisation_rate urbanisation_yearly_change
1 2021-10-15        61.57      82.9              0.96
2 2021-10-11        54.17      35.4              2.33
3 2021-10-15        40.28      87.3              0.87
4 2021-10-12        41.20      84.2              0.80
5 2021-10-13        54.17      74.9              0.11
6 2021-10-13        58.33      76.6              1.11
  gdp_per_cap density avg_temperature precipitation Infection_Rate_per_1000
1 62530        34.07  10.47            2.99         132.56
2  6700       407.43  26.99           11.19          25.45
3 14652        25.06  24.47            6.04         101.19
4 46659       275.36  10.14            2.35         125.95
5 27044         8.32   2.01            1.62          56.40
6 28424       105.27  17.05            2.68          92.80
  Deaths_per_1000 total_vaccinations_per_1000
1 2.13            1242
2 0.34             711
3 2.82            1156
4 2.07            1407
5 1.58             664
6 0.82            1362

  oecd_country_name country_code
1 Australia         AUS
2 Austria           AUT
3 Belgium           BEL
4 Canada            CAN
5 Chile             CHL
6 Colombia          COL

  country_code country_name             population total_cases total_deaths
1 USA          United States of America  334998398 44408612    715179
2 IND          India                    1339330514 34081315    452290
3 BRA          Brazil                    213445417 21597949    601574
4 GBR          The United Kingdom         67081000  8449169    138584
5 RUS          Russian Federation        142320790  8027012    224310
6 TUR          Turkey                     82482383  7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated first_vaccine_date
1 416110353          233521350        203896677         2020-12-14
2 951984373          683009792        268974581         2021-01-16
3 246737803          151223500        105063574         2021-01-17
4  94376101           49186920         45073591         2020-12-21
5  94491689           49463056         45028077         NA
6 112360409           54497626         46903485         NA
  last_updated_date ... urbanisation_rate urbanisation_yearly_change
1 2021-10-15        ... 82.9              0.96
2 2021-10-11        ... 35.4              2.33
3 2021-10-15        ... 87.3              0.87
4 2021-10-12        ... 84.2              0.80
5 2021-10-13        ... 74.9              0.11
6 2021-10-13        ... 76.6              1.11
  gdp_per_cap density avg_temperature precipitation Infection_Rate_per_1000
1 62530        34.07  10.47            2.99         132.56
2  6700       407.43  26.99           11.19          25.45
3 14652        25.06  24.47            6.04         101.19
4 46659       275.36  10.14            2.35         125.95
5 27044         8.32   2.01            1.62          56.40
6 28424       105.27  17.05            2.68          92.80
  Deaths_per_1000 total_vaccinations_per_1000 oecd_country_name
1 2.13            1242                        United States
2 0.34             711                        NA
3 2.82            1156                        NA
4 2.07            1407                        United Kingdom
5 1.58             664                        NA
6 0.82            1362                        Turkey

  country_code country_name             population total_cases total_deaths
1 USA          United States of America  334998398 44408612    715179
2 IND          India                    1339330514 34081315    452290
3 BRA          Brazil                    213445417 21597949    601574
4 GBR          The United Kingdom         67081000  8449169    138584
5 RUS          Russian Federation        142320790  8027012    224310
6 TUR          Turkey                     82482383  7654277     67623
  total_vaccinations vaccinated_1dose fully_vacccinated first_vaccine_date
1 416110353          233521350        203896677         2020-12-14
2 951984373          683009792        268974581         2021-01-16
3 246737803          151223500        105063574         2021-01-17
4  94376101           49186920         45073591         2020-12-21
5  94491689           49463056         45028077         NA
6 112360409           54497626         46903485         NA
  last_updated_date ... urbanisation_rate urbanisation_yearly_change
1 2021-10-15        ... 82.9              0.96
2 2021-10-11        ... 35.4              2.33
3 2021-10-15        ... 87.3              0.87
4 2021-10-12        ... 84.2              0.80
5 2021-10-13        ... 74.9              0.11
6 2021-10-13        ... 76.6              1.11
  gdp_per_cap density avg_temperature precipitation Infection_Rate_per_1000
1 62530        34.07  10.47            2.99         132.56
2  6700       407.43  26.99           11.19          25.45
3 14652        25.06  24.47            6.04         101.19
4 46659       275.36  10.14            2.35         125.95
5 27044         8.32   2.01            1.62          56.40
6 28424       105.27  17.05            2.68          92.80
  Deaths_per_1000 total_vaccinations_per_1000 oecd_country
1 2.13            1242                        Yes
2 0.34             711                        No
3 2.82            1156                        No
4 2.07            1407                        Yes
5 1.58             664                        No
6 0.82            1362                        Yes

In [8]:
FINAL_DATA <- Final_Data2 %>% rename(COUNTRY_CODE = country_code, COUNTRY_NAME = country_name, OECD_COUNTRY = oecd_country, POPULATION = population, TOTAL_CASES = total_cases ,
                       TOTAL_DEATHS = total_deaths, TOTAL_VACCINATIONS = total_vaccinations , ONE_DOSE_VACCINATED = vaccinated_1dose , 
                       FULLY_VACCINATED = fully_vacccinated , FIRST_VACCINE_DATE = first_vaccine_date, LAST_UPDATED_DATE = last_updated_date, 
                       STRINGENCY_INDEX = stringency, URBANISATION_RATE = urbanisation_rate , URBANISATION_YEARLY_CHANGE = urbanisation_yearly_change,
                       GDP_PER_CAP = gdp_per_cap, DENSITY = density, AVG_TEMPARATURE = avg_temperature, PRECIPITATION = precipitation, INFECTION_RATE_PER_1000 = Infection_Rate_per_1000,
                      DEATHS_PER_1000 = Deaths_per_1000, TOTAL_VACCINATIONS_PER_1000 = total_vaccinations_per_1000) 
head(FINAL_DATA)
write_csv (FINAL_DATA, "FINAL_DATA.csv")

  COUNTRY_CODE COUNTRY_NAME             POPULATION TOTAL_CASES TOTAL_DEATHS
1 USA          United States of America  334998398 44408612    715179
2 IND          India                    1339330514 34081315    452290
3 BRA          Brazil                    213445417 21597949    601574
4 GBR          The United Kingdom         67081000  8449169    138584
5 RUS          Russian Federation        142320790  8027012    224310
6 TUR          Turkey                     82482383  7654277     67623
  TOTAL_VACCINATIONS ONE_DOSE_VACCINATED FULLY_VACCINATED FIRST_VACCINE_DATE
1 416110353          233521350           203896677        2020-12-14
2 951984373          683009792           268974581        2021-01-16
3 246737803          151223500           105063574        2021-01-17
4  94376101           49186920            45073591        2020-12-21
5  94491689           49463056            45028077        NA
6 112360409           54497626            46903485        NA
  LAST_UPDATED_DATE ... URBANISATION_RATE URBANISATION_YEARLY_CHANGE
1 2021-10-15        ... 82.9              0.96
2 2021-10-11        ... 35.4              2.33
3 2021-10-15        ... 87.3              0.87
4 2021-10-12        ... 84.2              0.80
5 2021-10-13        ... 74.9              0.11
6 2021-10-13        ... 76.6              1.11
  GDP_PER_CAP DENSITY AVG_TEMPARATURE PRECIPITATION INFECTION_RATE_PER_1000
1 62530        34.07  10.47            2.99         132.56
2  6700       407.43  26.99           11.19          25.45
3 14652        25.06  24.47            6.04         101.19
4 46659       275.36  10.14            2.35         125.95
5 27044         8.32   2.01            1.62          56.40
6 28424       105.27  17.05            2.68          92.80
  DEATHS_PER_1000 TOTAL_VACCINATIONS_PER_1000 OECD_COUNTRY
1 2.13            1242                        Yes
2 0.34             711                        No
3 2.82            1156                        No
4 2.07            1407                        Yes
5 1.58             664                        No
6 0.82            1362                        Yes