In [42]:
#installing packages
library(dplyr)
library(tidyverse)
install.packages("countrycode")
library(countrycode)

Installing package into 'C:/Users/james/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'countrycode' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\james\AppData\Local\Temp\RtmpwxQaaj\downloaded_packages

Warning message:
"package 'countrycode' was built under R version 4.1.1"

In [92]:
# read the datasets
climate_data <- read.csv("climate_2021.csv")
population_data <- read.csv("DataFrame.csv")
covid_data <- read.csv("Covid_Data.csv")
head(climate_data)
head(population_data)
head(covid_data)

  fips Name           tavg     prcp      iso3166
1 AF   Afghanistan    19.30219 3.3200000 AF
2 AX   Akrotiri             NA        NA -
3 AL   Albania        17.23447        NA AL
4 AG   Algeria        22.93812 0.7833752 DZ
5 AQ   American Samoa 27.57246 9.6301829 AS
6 AN   Andorra              NA        NA AD

  X country        urbanisation_rate urbanisation_yearly_change gdp_per_cap
1 1 Afghanistan    26.3              3.34                        2065
2 2 Albania        63.0              1.29                       13965
3 3 Algeria        74.3              1.99                       11511
4 4 American Samoa 87.2              0.26                       11200
5 5 Andorra        87.9              0.11                       49900
6 6 Angola         67.5              4.04                        6670
  size    population density country_code
1  652230 37466414    57.44  AFG
2   28748  3088385   107.43  ALB
3 2381740 43576691    18.30  DZA
4     224    46366   206.99  ASM
5     468    85645   183.00  AND
6 1246700 33642646    26.99  AGO

  X country_code country_name             total_cases total_deaths
1 1 USA          United States of America 43401318    696732
2 2 IND          India                    33853048    449260
3 3 BRA          Brazil                   21468121    597948
4 4 GBR          The United Kingdom        7934940    136986
5 5 RUS          Russian Federation        7637427    211696
6 6 TUR          Turkey                    7267077     64909
  total_vaccinations vaccinated_1dose fully_vacccinated
1 398284216          224405446        184909628
2 870708636          639614662        231093974
3 225795545          144532580         85786449
4  93507378           48740807         44652019
5  91015787           48535310         42480477
6 110159938           53997429         44910311
  total_vaccinations_per100 stringency_index
1 120.327                    93.52
2  63.095                   100.00
3 106.227                    96.76
4 137.700                    87.96
5  62.368                    87.04
6 130.616                    87.04

In [96]:
# join the covid and population datasets into one dataframe
Main_DataFrame1 <- left_join(covid_data, population_data, by=c("country_code")) %>%
  select(country_code, country_name, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
         total_vaccinations_per100, stringency_index, population, size, urbanisation_rate, urbanisation_yearly_change,
         gdp_per_cap,density) %>% as.data.frame()

Main_DataFrame1$country_code = countrycode(Main_DataFrame1$country_name, "country.name", "iso2c")

Main_DataFrame2 = filter(Main_DataFrame1, !is.na(Main_DataFrame1$population))

head(Main_DataFrame2)
summary(Main_DataFrame2)

Warning message in countrycode_convert(sourcevar = sourcevar, origin = origin, destination = dest, :
"Some values were not matched unambiguously: Kosovo[1], Saint Martin
"

  country_code country_name             total_cases total_deaths
1 US           United States of America 43401318    696732
2 IN           India                    33853048    449260
3 BR           Brazil                   21468121    597948
4 GB           The United Kingdom        7934940    136986
5 RU           Russian Federation        7637427    211696
6 TR           Turkey                    7267077     64909
  total_vaccinations vaccinated_1dose fully_vacccinated
1 398284216          224405446        184909628
2 870708636          639614662        231093974
3 225795545          144532580         85786449
4  93507378           48740807         44652019
5  91015787           48535310         42480477
6 110159938           53997429         44910311
  total_vaccinations_per100 stringency_index population size
1 120.327                    93.52            334998398  9833517
2  63.095                   100.00           1339330514  3287263
3 106.227                    96.76            213445417  8515770
4 137.700                    87.96             67081000   243610
5  62.368                    87.04            142320790 17098242
6 130.616                    87.04             82482383   783562
  urbanisation_rate urbanisation_yearly_change gdp_per_cap density
1 82.9              0.96                       62530        34.07
2 35.4              2.33                        6700       407.43
3 87.3              0.87                       14652        25.06
4 84.2              0.80                       46659       275.36
5 74.9              0.11                       27044         8.32
6 76.6              1.11                       28424       105.27

 country_code       country_name        total_cases        total_deaths
 Length:223         Length:223         Min.   :       0   Min.   :     0
 Class :character   Class :character   1st Qu.:    9574   1st Qu.:   121
 Mode  :character   Mode  :character   Median :  106318   Median :  1389
                                       Mean   : 1054612   Mean   : 21529
                                       3rd Qu.:  509710   3rd Qu.:  8918
                                       Max.   :43401318   Max.   :696732
 total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :0.000e+00   Min.   :0.000e+00   Min.   :0.000e+00
 1st Qu.:1.508e+05   1st Qu.:6.378e+04   1st Qu.:4.302e+04
 Median :1.375e+06   Median :5.934e+05   Median :4.994e+05
 Mean   :2.773e+07   Mean   :1.581e+07   Mean   :1.155e+07
 3rd Qu.:9.647e+06   3rd Qu.:4.818e+06   3rd Qu.:4.023e+06
 Max.   :2.204e+09   Max.   :1.155e+09   Max.   :1.014e+09
 total_vaccinations_per100 stringency_index   population
 Min.   :  0.00            Min.   :  0.00   Min.   :1.647e+03
 1st Qu.: 20.35            1st Qu.: 68.52   1st Qu.:4.660e+05
 Median : 71.18            Median : 86.11   Median :5.587e+06
 Mean   : 75.59            Mean   : 69.08   Mean   :3.465e+07
 3rd Qu.:125.70            3rd Qu.: 92.59   3rd Qu.:2.332e+07
 Max.   :236.23            Max.   :100.00   Max.   :1.398e+09
      size          urbanisation_rate urbanisation_yearly_change
 Min.   :       2   Min.   :  0.00    Min.   :-1.230
 1st Qu.:    4648   1st Qu.: 42.60    1st Qu.: 0.600
 Median :   83871   Median : 63.00    Median : 1.330
 Mean   :  608180   Mean   : 61.03    Mean   : 1.647
 3rd Qu.:  448848   3rd Qu.: 81.30    3rd Qu.: 2.570
 Max.   :17098242   Max.   :100.00    Max.   : 5.430
  gdp_per_cap        density
 Min.   :   752   Min.   :    0.03
 1st Qu.:  5233   1st Qu.:   34.67
 Median : 14552   Median :   93.52
 Mean   : 23094   Mean   :  320.54
 3rd Qu.: 35118   3rd Qu.:  212.94
 Max.   :139100   Max.   :15611.50

In [105]:
#Change the column name in climate_data from Name to country_name
colnames(climate_data)[colnames(climate_data) == "iso3166"] <- "country_code"

Main_DataFrame <- left_join(Main_DataFrame2, climate_data, by = c("country_code")) %>%
  select(country_code, country_name, population, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
         total_vaccinations_per100, stringency_index,urbanisation_rate, urbanisation_yearly_change, gdp_per_cap, size, 
         density,tavg,prcp) %>%
  as.data.frame()

head(Main_DataFrame)
summary(Main_DataFrame)
Main_unique <- Main_DataFrame[!duplicated(Main_DataFrame), ]
Main_unique
summary(Main_unique)

  country_code country_name             population total_cases total_deaths
1 US           United States of America  334998398 43401318    696732
2 IN           India                    1339330514 33853048    449260
3 BR           Brazil                    213445417 21468121    597948
4 GB           The United Kingdom         67081000  7934940    136986
5 GB           The United Kingdom         67081000  7934940    136986
6 GB           The United Kingdom         67081000  7934940    136986
  total_vaccinations vaccinated_1dose fully_vacccinated
1 398284216          224405446        184909628
2 870708636          639614662        231093974
3 225795545          144532580         85786449
4  93507378           48740807         44652019
5  93507378           48740807         44652019
6  93507378           48740807         44652019
  total_vaccinations_per100 stringency_index urbanisation_rate
1 120.327                    93.52           82.9
2  63.095                   100.00           35.4
3 106.227                    96.76           87.3
4 137.700                    87.96           84.2
5 137.700                    87.96           84.2
6 137.700                    87.96           84.2
  urbanisation_yearly_change gdp_per_cap size    density tavg     prcp
1 0.96                       62530       9833517  34.07  10.46513  2.992851
2 2.33                        6700       3287263 407.43  26.98792 11.186954
3 0.87                       14652       8515770  25.06  24.46752  6.039909
4 0.80                       46659        243610 275.36        NA        NA
5 0.80                       46659        243610 275.36        NA        NA
6 0.80                       46659        243610 275.36        NA        NA

 country_code       country_name         population         total_cases
 Length:232         Length:232         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:5.599e+05   1st Qu.:   10970
 Mode  :character   Mode  :character   Median :5.880e+06   Median :  113443
                                       Mean   :3.466e+07   Mean   : 1123292
                                       3rd Qu.:2.582e+07   3rd Qu.:  513269
                                       Max.   :1.398e+09   Max.   :43401318

  total_deaths      total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0.0   Min.   :0.000e+00   Min.   :0.000e+00   Min.   :0.000e+00
 1st Qu.:   128.8   1st Qu.:1.520e+05   1st Qu.:6.463e+04   1st Qu.:4.302e+04
 Median :  1482.0   Median :1.438e+06   Median :6.019e+05   Median :5.313e+05
 Mean   : 22595.4   Mean   :2.814e+07   Mean   :1.600e+07   Mean   :1.179e+07
 3rd Qu.: 10057.8   3rd Qu.:1.089e+07   3rd Qu.:5.709e+06   3rd Qu.:4.396e+06
 Max.   :696732.0   Max.   :2.204e+09   Max.   :1.155e+09   Max.   :1.014e+09

 total_vaccinations_per100 stringency_index urbanisation_rate
 Min.   :  0.00            Min.   :  0.00   Min.   :  0.00
 1st Qu.: 20.10            1st Qu.: 69.44   1st Qu.: 42.83
 Median : 74.42            Median : 86.11   Median : 63.65
 Mean   : 75.78            Mean   : 69.41   Mean   : 61.57
 3rd Qu.:126.21            3rd Qu.: 92.59   3rd Qu.: 81.55
 Max.   :236.23            Max.   :100.00   Max.   :100.00

 urbanisation_yearly_change  gdp_per_cap          size
 Min.   :-1.230             Min.   :   752   Min.   :       2
 1st Qu.: 0.640             1st Qu.:  5368   1st Qu.:    4888
 Median : 1.325             Median : 14687   Median :   87971
 Mean   : 1.639             Mean   : 23381   Mean   :  657433
 3rd Qu.: 2.560             3rd Qu.: 36945   3rd Qu.:  453431
 Max.   : 5.430             Max.   :139100   Max.   :17098242

    density              tavg             prcp
 Min.   :    0.03   Min.   :-4.154   Min.   : 0.000
 1st Qu.:   34.98   1st Qu.:15.081   1st Qu.: 2.357
 Median :   93.87   Median :23.664   Median : 5.008
 Mean   :  337.97   Mean   :20.838   Mean   : 5.729
 3rd Qu.:  218.79   3rd Qu.:27.283   3rd Qu.: 8.649
 Max.   :15611.50   Max.   :30.950   Max.   :20.825
                    NA's   :57       NA's   :65

    country_code country_name                                   population
1   US           United States of America                        334998398
2   IN           India                                          1339330514
3   BR           Brazil                                          213445417
4   GB           The United Kingdom                               67081000
7   GB           The United Kingdom                               67081000
8   RU           Russian Federation                              142320790
9   TR           Turkey                                           82482383
10  FR           France                                           68084217
11  IR           Iran (Islamic Republic of)                       85888910
12  AR           Argentina                                        45864941
13  ES           Spain                                            47260584
14  CO           Colombia                                         50355650
15  IT           Italy                                            62390364
16  DE           Germany                                          79903481
17  ID           Indonesia                                       275122131
18  MX           Mexico                                          130207371
19  PL           Poland                                           38185913
20  ZA           South Africa                                     56978635
21  PH           Philippines                                     110818325
22  UA           Ukraine                                          43745640
23  MY           Malaysia                                         33519406
24  PE           Peru                                             32201224
25  IQ           Iraq                                             39650145
26  NL           Netherlands                                      17337403
27  JP           Japan                                           124687293
28  CZ           Czechia                                          10702596
29  CL           Chile                                            18307925
30  TH           Thailand                                         69480520
31  CA           Canada                                           37943231
32  BD           Bangladesh                                      164098818
... ...          ...                                            ...
203 VG           British Virgin Islands                            37891
204 BT           Bhutan                                           857423
205 KN           Saint Kitts and Nevis                             54149
206 GG           Guernsey                                          67334
207 FO           Faroe Islands                                     51943
208 KY           Cayman Islands                                    63131
209 GL           Greenland                                         57799
210 WF           Wallis and Futuna                                 15851
211 AI           Anguilla                                          18403
212 MP           Northern Mariana Islands (Commonwealth of the)    51659
213 FK           Falkland Islands (Malvinas)                        3198
214 MS           Montserrat                                         5387
215 PM           Saint Pierre and Miquelon                          5321
216 SB           Solomon Islands                                  690598
217 PW           Palau                                             21613
218 MH           Marshall Islands                                  78831
219 AS           American Samoa                                    46366
220 VU           Vanuatu                                          303009
221 WS           Samoa                                            204898
222 CK           Cook Islands                                       8327
223 KP           Democratic People's Republic of Korea          25831360
224 KI           Kiribati                                         113001
225 FM           Micronesia (Federated States of)                 101675
226 NR           Nauru                                              9770
227 NU           Niue                                               2000
228 SH           Saint Helena                                       7915
229 TK           Tokelau                                            1647
230 TO           Tonga                                            105780
231 TM           Turkmenistan                                    5579889
232 TV           Tuvalu                                            11448
    total_cases total_deaths total_vaccinations vaccinated_1dose
1   43401318    696732       398284216          224405446
2   33853048    449260       870708636          639614662
3   21468121    597948       225795545          144532580
4    7934940    136986        93507378           48740807
7    7934940    136986        93507378           48740807
8    7637427    211696        91015787           48535310
9    7267077     64909       110159938           53997429
10   6812172    114574        94771408           50285691
11   5638735    121347        51950783           36303822
12   5259738    115245        52083872           29757991
13   4965400     86527        70153507           37702384
14   4962054    126401        40404815           26332902
15   4683646    131068        85117932           45344433
16   4260187     93883       108011215           56663817
17   4221610    142338       139232210           89201439
18   3681960    278803       100516964           63719420
19   2912876     75741        37331309           19853542
20   2906851     87819        17815485            8783265
21   2604040     38828        43088582           26999085
22   2469856     57206        12928583            7173268
23   2285640     26759        41411286           22481986
24   2178939    199485        26543168           15783055
25   2011634     22392         7608508            4676216
26   2009648     18184        23585124                  0
27   1705778     17756       159494782           87000853
28   1694910     30483        11821563            6087799
29   1657256     37500        32114960           15292547
30   1657231     17203        49681430           31582548
31   1629142     27921        56290492           29272263
32   1559452     27614        48139752           31506017
... ...         ...          ...                ...
203 2676        37             32930             17570
204 2613         3           1081086            584605
205 2037        13             48059             25637
206 1647        21            101986                 0
207 1220         2             74618             38288
208  853         2            106655             55129
209  591         0             78271             41280
210  454         7             10438              5366
211  425         1             18704              9548
212  272         2             69443             35621
213   67         0              4407              2632
214   34         1              2871              1483
215   31         0                 0                 0
216   20         0            106074             82295
217    5         0             30284             17469
218    4         0             40028             22504
219    3         0             60275             33356
220    3         0             73730             49639
221    1         0            172316            114698
222    0         0             21761             11416
223    0         0                 0                 0
224    0         0             48894             40993
225    0         0             70895             44340
226    0         0             14790              7612
227    0         0              2352              1202
228    0         0              7892              4361
229    0         0              1936               968
230    0         0             74503             46985
231    0         0             41993             32240
232    0         0             10861              6209
    fully_vacccinated total_vaccinations_per100 stringency_index
1   184909628         120.327                    93.52
2   231093974          63.095                   100.00
3    85786449         106.227                    96.76
4    44652019         137.700                    87.96
7    44652019         137.700                    87.96
8    42480477          62.368                    87.04
9    44910311         130.616                    87.04
10   44408729         145.714                    87.96
11   15646961          61.851                    81.48
12   22383999         115.241                   100.00
13   36667138         148.214                    85.19
14   16929789          79.407                    90.74
15   41156374         142.716                    90.74
16   53747320         129.873                    85.19
17   50030771          50.903                    80.09
18   45284037          77.961                    82.41
19   19500218          98.349                    87.04
20    9032220          30.039                    87.96
21   19671725          39.321                   100.00
22    5755315          29.562                    88.89
23   19180397         127.947                    80.56
24   10760113          80.503                    96.30
25    2932292          18.916                    96.30
26          0         135.488                    82.41
27   72493929         126.106                    55.09
28    5970250         110.545                    82.41
29   14142549         167.999                    87.50
30   18098882          71.177                    76.85
31   27018229         149.145                    90.74
32   16633735          29.231                    93.52
... ...               ...                       ...
203  15360            108.906                    0.00
204 496481            140.108                   97.22
205  22422             90.350                    0.00
206      0            158.196                    0.00
207  36330            152.702                   60.19
208  51481            162.287                    0.00
209  36991            137.869                   77.78
210   5072             92.815                    0.00
211   9156            124.677                    0.00
212  34613            120.651                    0.00
213   1775            126.529                    0.00
214   1388             57.431                    0.00
215      0              0.000                    0.00
216  23779             15.443                   69.44
217  15148            167.389                    0.00
218  19587             67.622                    0.00
219  27465            109.200                    0.00
220  24105             24.005                   83.33
221  57618             86.847                    0.00
222  10345            123.895                    0.00
223      0              0.000                    0.00
224   7901             40.933                   56.94
225  38078             61.635                    0.00
226   7178            136.515                    0.00
227   1150            145.365                    0.00
228   3531            129.995                    0.00
229    968            143.407                    0.00
230  27518             70.489                   93.52
231   9753              0.696                   73.15
232   4652             92.105                    0.00
    urbanisation_rate urbanisation_yearly_change gdp_per_cap size     density
1   82.9               0.96                      62530        9833517   34.07
2   35.4               2.33                       6700        3287263  407.43
3   87.3               0.87                      14652        8515770   25.06
4   84.2               0.80                      46659         243610  275.36
7   84.2               0.80                      46659         243610  275.36
8   74.9               0.11                      27044       17098242    8.32
9   76.6               1.11                      28424         783562  105.27
10  81.2               0.67                      46184         643801  105.75
11  76.3               1.32                      12389        1648195   52.11
12  92.2               0.97                      22064        2780400   16.50
13  81.1               0.24                      40903         505370   93.52
14  81.7               1.01                      14722        1138910   44.21
15  71.3               0.27                      42492         301340  207.04
16  77.5               0.13                      53919         357022  223.81
17  57.3               1.99                      11812        1904569  144.45
18  81.0               1.40                      19796        1964375   66.28
19  60.1              -0.16                      33221         312685  122.12
20  67.8               1.72                      12482        1219090   46.74
21  47.7               2.04                       8908         300000  369.39
22  69.8              -0.27                      12810         603550   72.48
23  77.7               1.87                      28364         329847  101.62
24  78.3               1.33                      12848        1285216   25.06
25  71.1               2.91                      10881         438317   90.46
26  92.6               0.59                      56935          41543  417.34
27  91.9              -0.25                      41429         377915  329.93
28  74.2               0.20                      40862          78867  135.70
29  87.8               0.78                      24226         756102   24.21
30  52.2               1.43                      18460         513120  135.41
31  81.7               0.95                      49031        9984670    3.80
32  38.9               2.88                       4754         148460 1105.34
... ...               ...                        ...         ...      ...
203  48.9              1.73                      34200           151  250.93
204  43.0              2.52                      11832         38394   22.33
205  30.9              1.06                      26438           261  207.47
206  31.0              0.68                      52500            78  863.26
207  42.6              0.89                      40000          1393   37.29
208 100.0              1.13                      71549           264  239.13
209  87.5              0.41                      41800       2166086    0.03
210   0.0              0.00                       3800           142  111.63
211 100.0              0.47                      12200            91  202.23
212  91.9              0.36                      24500           464  111.33
213  78.9              0.53                      70800         12173    0.26
214   9.2              0.94                      34000           102   52.81
215  90.0              0.75                      46200           242   21.99
216  25.1              3.57                       2663         28896   23.90
217  81.5              1.59                      17579           459   47.09
218  78.2              0.61                       3889           181  435.53
219  87.2              0.26                      11200           224  206.99
220  25.7              2.55                       3153         12189   24.86
221  17.7             -0.03                       6521          2831   72.38
222  75.7              0.52                      16700           236   35.28
223  62.6              0.85                       1700        120538  214.30
224  56.3              2.77                       2272           811  139.34
225  23.1              1.52                       3464           702  144.84
226 100.0              0.18                      11583            21  465.24
227  46.9              1.43                       5800           260    7.69
228  40.3              0.98                       7800           394   20.09
229   0.0              0.00                       6004            12  137.25
230  23.1              0.99                       6383           747  141.61
231  53.0              2.23                      14845        488100   11.43
232  64.8              2.08                       4281            26  440.31
    tavg      prcp
1   10.465131  2.9928507
2   26.987922 11.1869541
3   24.467521  6.0399091
4          NA         NA
7   10.143019  2.3482625
8    2.007482  1.6211118
9   17.046552  2.6756260
10  13.121910  1.9368703
11  21.768914  0.3527171
12  15.666059  6.1738555
13  16.945988  1.5137822
14  24.168588         NA
15  15.492708  1.3125481
16  11.382240  1.9819344
17  27.135060 15.0299191
18  23.898836  2.4029583
19  10.107132  2.5913710
20  15.954570  4.5890433
21  27.248591 10.5731486
22  12.032388  4.4284233
23  27.322865  8.5380909
24  21.805298  6.4789147
25  28.876884  0.1687943
26  11.273565  1.9012894
27  16.738021  6.5345328
28   9.153928  3.1341273
29  13.239528  1.3578514
30  28.262359  9.4063741
31   5.714756  2.0914763
32  24.960754  0.0000000
... ...       ...
203        NA        NA
204        NA        NA
205        NA        NA
206        NA        NA
207        NA        NA
208 28.504545  3.770259
209 -4.153626  2.606427
210 27.156926  6.725292
211        NA        NA
212        NA  6.013806
213  4.911298  1.092692
214        NA        NA
215  7.311364  2.244402
216 27.147589  6.975034
217        NA  9.628976
218 28.196212  7.819743
219 27.572458  9.630183
220 25.727517  9.026481
221        NA        NA
222 25.088636  5.332143
223 12.221050 12.882867
224 28.182955  3.444141
225 27.506610 11.564044
226        NA        NA
227        NA        NA
228        NA        NA
229        NA        NA
230        NA        NA
231 21.126222  1.646418
232 28.781395  7.330662

 country_code       country_name         population         total_cases
 Length:226         Length:226         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:4.634e+05   1st Qu.:    9966
 Mode  :character   Mode  :character   Median :5.727e+06   Median :  109864
                                       Mean   :3.460e+07   Mean   : 1076425
                                       3rd Qu.:2.526e+07   3rd Qu.:  510164
                                       Max.   :1.398e+09   Max.   :43401318

  total_deaths    total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0   Min.   :0.000e+00   Min.   :0.000e+00   Min.   :0.000e+00
 1st Qu.:   122   1st Qu.:1.534e+05   1st Qu.:6.622e+04   1st Qu.:4.325e+04
 Median :  1384   Median :1.392e+06   Median :5.942e+05   Median :5.037e+05
 Mean   : 21859   Mean   :2.789e+07   Mean   :1.589e+07   Mean   :1.164e+07
 3rd Qu.:  9014   3rd Qu.:1.028e+07   3rd Qu.:4.986e+06   3rd Qu.:4.252e+06
 Max.   :696732   Max.   :2.204e+09   Max.   :1.155e+09   Max.   :1.014e+09

 total_vaccinations_per100 stringency_index urbanisation_rate
 Min.   :  0.00            Min.   :  0.00   Min.   :  0.00
 1st Qu.: 20.81            1st Qu.: 68.05   1st Qu.: 42.67
 Median : 74.42            Median : 86.11   Median : 63.10
 Mean   : 76.03            Mean   : 68.90   Mean   : 61.25
 3rd Qu.:125.90            3rd Qu.: 92.59   3rd Qu.: 81.40
 Max.   :236.23            Max.   :100.00   Max.   :100.00

 urbanisation_yearly_change  gdp_per_cap          size
 Min.   :-1.230             Min.   :   752   Min.   :       2
 1st Qu.: 0.610             1st Qu.:  5292   1st Qu.:    4407
 Median : 1.325             Median : 14687   Median :   85236
 Mean   : 1.637             Mean   : 23290   Mean   :  635456
 3rd Qu.: 2.542             3rd Qu.: 35536   3rd Qu.:  449571
 Max.   : 5.430             Max.   :139100   Max.   :17098242

    density              tavg             prcp
 Min.   :    0.03   Min.   :-4.154   Min.   : 0.000
 1st Qu.:   34.37   1st Qu.:14.929   1st Qu.: 2.353
 Median :   91.99   Median :23.652   Median : 4.904
 Mean   :  317.84   Mean   :20.794   Mean   : 5.657
 3rd Qu.:  213.50   3rd Qu.:27.226   3rd Qu.: 8.620
 Max.   :15611.50   Max.   :30.950   Max.   :20.825
                    NA's   :52       NA's   :60

In [107]:
Final_Data <- Main_unique %>% mutate(Infection_Rate_per_100 = round((total_cases/population) * 100),
                                        Deaths_per_10000 = round((total_deaths/population)*10000), 
                                        total_vaccinations_per_100 = round(total_vaccinations_per100))%>%
                                  select(-9)
head(Final_Data)
summary(Final_Data)

write_csv (Final_Data, "Final_Data.csv")

  country_code country_name             population total_cases total_deaths
1 US           United States of America  334998398 43401318    696732
2 IN           India                    1339330514 33853048    449260
3 BR           Brazil                    213445417 21468121    597948
4 GB           The United Kingdom         67081000  7934940    136986
7 GB           The United Kingdom         67081000  7934940    136986
8 RU           Russian Federation        142320790  7637427    211696
  total_vaccinations vaccinated_1dose fully_vacccinated stringency_index
1 398284216          224405446        184909628          93.52
2 870708636          639614662        231093974         100.00
3 225795545          144532580         85786449          96.76
4  93507378           48740807         44652019          87.96
7  93507378           48740807         44652019          87.96
8  91015787           48535310         42480477          87.04
  urbanisation_rate urbanisation_yearly_change gdp_per_cap size     density
1 82.9              0.96                       62530        9833517  34.07
2 35.4              2.33                        6700        3287263 407.43
3 87.3              0.87                       14652        8515770  25.06
4 84.2              0.80                       46659         243610 275.36
7 84.2              0.80                       46659         243610 275.36
8 74.9              0.11                       27044       17098242   8.32
  tavg      prcp      Infection_Rate_per_100 Deaths_per_10000
1 10.465131  2.992851 13                     21
2 26.987922 11.186954  3                      3
3 24.467521  6.039909 10                     28
4        NA        NA 12                     20
7 10.143019  2.348262 12                     20
8  2.007482  1.621112  5                     15
  total_vaccinations_per_100
1 120
2  63
3 106
4 138
7 138
8  62

 country_code       country_name         population         total_cases
 Length:226         Length:226         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:4.634e+05   1st Qu.:    9966
 Mode  :character   Mode  :character   Median :5.727e+06   Median :  109864
                                       Mean   :3.460e+07   Mean   : 1076425
                                       3rd Qu.:2.526e+07   3rd Qu.:  510164
                                       Max.   :1.398e+09   Max.   :43401318

  total_deaths    total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0   Min.   :0.000e+00   Min.   :0.000e+00   Min.   :0.000e+00
 1st Qu.:   122   1st Qu.:1.534e+05   1st Qu.:6.622e+04   1st Qu.:4.325e+04
 Median :  1384   Median :1.392e+06   Median :5.942e+05   Median :5.037e+05
 Mean   : 21859   Mean   :2.789e+07   Mean   :1.589e+07   Mean   :1.164e+07
 3rd Qu.:  9014   3rd Qu.:1.028e+07   3rd Qu.:4.986e+06   3rd Qu.:4.252e+06
 Max.   :696732   Max.   :2.204e+09   Max.   :1.155e+09   Max.   :1.014e+09

 stringency_index urbanisation_rate urbanisation_yearly_change  gdp_per_cap
 Min.   :  0.00   Min.   :  0.00    Min.   :-1.230             Min.   :   752
 1st Qu.: 68.05   1st Qu.: 42.67    1st Qu.: 0.610             1st Qu.:  5292
 Median : 86.11   Median : 63.10    Median : 1.325             Median : 14687
 Mean   : 68.90   Mean   : 61.25    Mean   : 1.637             Mean   : 23290
 3rd Qu.: 92.59   3rd Qu.: 81.40    3rd Qu.: 2.542             3rd Qu.: 35536
 Max.   :100.00   Max.   :100.00    Max.   : 5.430             Max.   :139100

      size             density              tavg             prcp
 Min.   :       2   Min.   :    0.03   Min.   :-4.154   Min.   : 0.000
 1st Qu.:    4407   1st Qu.:   34.37   1st Qu.:14.929   1st Qu.: 2.353
 Median :   85236   Median :   91.99   Median :23.652   Median : 4.904
 Mean   :  635456   Mean   :  317.84   Mean   :20.794   Mean   : 5.657
 3rd Qu.:  449571   3rd Qu.:  213.50   3rd Qu.:27.226   3rd Qu.: 8.620
 Max.   :17098242   Max.   :15611.50   Max.   :30.950   Max.   :20.825
                                       NA's   :52       NA's   :60
 Infection_Rate_per_100 Deaths_per_10000  total_vaccinations_per_100
 Min.   :  0.000        Min.   :  0.000   Min.   :  0.00
 1st Qu.:  0.000        1st Qu.:  1.000   1st Qu.: 21.00
 Median :  3.000        Median :  4.000   Median : 74.50
 Mean   :  5.544        Mean   :  8.987   Mean   : 76.04
 3rd Qu.:  8.000        3rd Qu.: 13.000   3rd Qu.:125.75
 Max.   :151.000        Max.   :280.000   Max.   :236.00