In [3]:
#installing packages
library(dplyr)
library(tidyverse)
#install.packages("countrycode")
library(countrycode)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.3     v stringr 1.4.0
v tidyr   1.1.3     v forcats 0.5.1
v readr   2.0.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Warning message:
"package 'countrycode' was built under R version 4.1.1"

In [4]:
# read the datasets
climate_data <- read.csv("climate.csv")
population_data <- read.csv("PopulationData.csv")
covid_data <- read.csv("Covid_Data_New.csv")
head(climate_data)
head(population_data)
head(covid_data)
count(population_data)
count(covid_data)

  fips tavg     prcp       iso3166 Name
1 AE   30.60948  0.0000000 AE      United Arab Emirates
2 AF   19.30219  3.3200000 AF      Afghanistan
3 AG   22.93812  0.7833752 DZ      Algeria
4 AJ   17.32671 10.9521967 AZ      Azerbaijan
5 AL   17.23447         NA AL      Albania
6 AM   10.79957  3.0507692 AM      Armenia

  X country        urbanisation_rate urbanisation_yearly_change gdp_per_cap
1 1 Afghanistan    26.3              3.34                        2065
2 2 Albania        63.0              1.29                       13965
3 3 Algeria        74.3              1.99                       11511
4 4 American Samoa 87.2              0.26                       11200
5 5 Andorra        87.9              0.11                       49900
6 6 Angola         67.5              4.04                        6670
  size    population density country_code
1  652230 37466414    57.44  AFG
2   28748  3088385   107.43  ALB
3 2381740 43576691    18.30  DZA
4     224    46366   206.99  ASM
5     468    85645   183.00  AND
6 1246700 33642646    26.99  AGO

  X country_code country_name             total_cases total_deaths
1 1 USA          United States of America 43792254    703599
2 2 IND          India                    33971607    450782
3 3 BRA          Brazil                   21516967    599359
4 4 GBR          The United Kingdom        8154310    137735
5 5 RUS          Russian Federation        7804774    217372
6 6 TUR          Turkey                    7444552     66180
  total_vaccinations vaccinated_1dose fully_vacccinated
1 407615184          229155687        186883154
2 915465826          663807388        251658438
3 235087603          147951632         91654941
4  93948903           48956859         44877400
5  91151285           48610971         42539895
6 110333793           54038516         45664544
  total_vaccinations_per100 first_vaccine_date last_updated_date
1 123.146                   2020-12-14         2021-10-08
2  66.338                   2021-01-16         2021-10-05
3 110.599                   2021-01-17         2021-10-08
4 138.400                   2020-12-21         2021-10-05
5  62.500                   NA                 2021-10-06
6 130.800                   NA                 2021-10-06
  stringency_index
1  93.52
2 100.00
3  96.76
4  87.96
5  87.04
6  87.04

  n
1 225

  n
1 231

In [5]:
# join the covid and population datasets into one dataframe
Main_DataFrame1 <- inner_join(covid_data, population_data, by=c("country_code")) %>%
  select(country_code, country_name, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
        total_vaccinations_per100, first_vaccine_date, last_updated_date, stringency_index, population, urbanisation_rate, urbanisation_yearly_change,
       gdp_per_cap,density) %>% as.data.frame()



head(Main_DataFrame1)
count(Main_DataFrame1)
summary(Main_DataFrame1)

  country_code country_name             total_cases total_deaths
1 USA          United States of America 43792254    703599
2 IND          India                    33971607    450782
3 BRA          Brazil                   21516967    599359
4 GBR          The United Kingdom        8154310    137735
5 RUS          Russian Federation        7804774    217372
6 TUR          Turkey                    7444552     66180
  total_vaccinations vaccinated_1dose fully_vacccinated
1 407615184          229155687        186883154
2 915465826          663807388        251658438
3 235087603          147951632         91654941
4  93948903           48956859         44877400
5  91151285           48610971         42539895
6 110333793           54038516         45664544
  total_vaccinations_per100 first_vaccine_date last_updated_date
1 123.146                   2020-12-14         2021-10-08
2  66.338                   2021-01-16         2021-10-05
3 110.599                   2021-01-17         2021-10-08
4 138.400                   2020-12-21         2021-10-05
5  62.500                   NA                 2021-10-06
6 130.800                   NA                 2021-10-06
  stringency_index population urbanisation_rate urbanisation_yearly_change
1  93.52            334998398 82.9              0.96
2 100.00           1339330514 35.4              2.33
3  96.76            213445417 87.3              0.87
4  87.96             67081000 84.2              0.80
5  87.04            142320790 74.9              0.11
6  87.04             82482383 76.6              1.11
  gdp_per_cap density
1 62530        34.07
2  6700       407.43
3 14652        25.06
4 46659       275.36
5 27044         8.32
6 28424       105.27

  n
1 221

 country_code       country_name        total_cases        total_deaths
 Length:221         Length:221         Min.   :       0   Min.   :     0
 Class :character   Class :character   1st Qu.:    9941   1st Qu.:   125
 Mode  :character   Mode  :character   Median :  114810   Median :  1432
                                       Mean   : 1073411   Mean   : 21873
                                       3rd Qu.:  520862   3rd Qu.:  9269
                                       Max.   :43792254   Max.   :703599

 total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :1.936e+03   Min.   :9.680e+02   Min.   :9.680e+02
 1st Qu.:1.901e+05   1st Qu.:1.174e+05   1st Qu.:7.513e+04
 Median :1.634e+06   Median :8.542e+05   Median :6.139e+05
 Mean   :2.957e+07   Mean   :1.718e+07   Mean   :1.246e+07
 3rd Qu.:1.075e+07   3rd Qu.:5.796e+06   3rd Qu.:4.691e+06
 Max.   :2.222e+09   Max.   :1.155e+09   Max.   :1.014e+09
 NA's   :6           NA's   :10          NA's   :9
 total_vaccinations_per100 first_vaccine_date last_updated_date
 Min.   :  0.157           Length:221         Length:221
 1st Qu.: 28.055           Class :character   Class :character
 Median : 82.600           Mode  :character   Mode  :character
 Mean   : 80.150
 3rd Qu.:127.939
 Max.   :237.185
 NA's   :6
 stringency_index   population        urbanisation_rate
 Min.   :  -Inf   Min.   :1.647e+03   Min.   :  0.00
 1st Qu.: 80.56   1st Qu.:5.895e+05   1st Qu.: 42.60
 Median : 87.96   Median :5.866e+06   Median : 62.60
 Mean   :  -Inf   Mean   :3.496e+07   Mean   : 60.72
 3rd Qu.: 93.52   3rd Qu.:2.361e+07   3rd Qu.: 81.10
 Max.   :100.00   Max.   :1.398e+09   Max.   :100.00
 NA's   :40
 urbanisation_yearly_change  gdp_per_cap        density
 Min.   :-1.230             Min.   :   752   Min.   :    0.03
 1st Qu.: 0.610             1st Qu.:  5213   1st Qu.:   34.07
 Median : 1.340             Median : 14404   Median :   94.22
 Mean   : 1.662             Mean   : 22968   Mean   :  322.94
 3rd Qu.: 2.590             3rd Qu.: 34518   3rd Qu.:  214.05
 Max.   : 5.430             Max.   :139100   Max.   :15611.50

In [6]:
#Change the column name in climate_data from Name to country_name
colnames(climate_data)[colnames(climate_data) == "iso3166"] <- "country_code"
colnames(climate_data)[colnames(climate_data) == "Name"] <- "country_name"

climate_data$country_code = countrycode(climate_data$country_name, "country.name", "iso3c")

head(climate_data)
summary(climate_data)

Warning message in countrycode_convert(sourcevar = sourcevar, origin = origin, destination = dest, :
"Some values were not matched unambiguously: Akrotiri, Ashmore and Cartier Islands, Baker Island, Clipperton Island, Coral Sea Islands, Dhekelia, Etorofu, Habomai, Kunashiri, and Shikotan Islands, Europa Island, Glorioso Islands, Howland Island, Jan Mayen, Jarvis Island, Johnston Atoll, Juan de Nova Island, Kingman Reef, Kosovo, Midway Islands, Navassa Island, Palmyra Atoll, Paracel Islands, Saint Martin, Spratly Islands, Tromelin Island, Wake Island, World
"

  fips tavg     prcp       country_code country_name
1 AE   30.60948  0.0000000 ARE          United Arab Emirates
2 AF   19.30219  3.3200000 AFG          Afghanistan
3 AG   22.93812  0.7833752 DZA          Algeria
4 AJ   17.32671 10.9521967 AZE          Azerbaijan
5 AL   17.23447         NA ALB          Albania
6 AM   10.79957  3.0507692 ARM          Armenia

     fips                tavg             prcp        country_code
 Length:279         Min.   :-22.06   Min.   : 0.000   Length:279
 Class :character   1st Qu.: 14.59   1st Qu.: 2.195   Class :character
 Mode  :character   Median : 23.71   Median : 4.580   Mode  :character
                    Mean   : 20.52   Mean   : 5.560
                    3rd Qu.: 27.15   3rd Qu.: 8.537
                    Max.   : 30.95   Max.   :20.825
                    NA's   :88       NA's   :101
 country_name
 Length:279
 Class :character
 Mode  :character

In [7]:
Main_DataFrame2 = filter(climate_data, !is.na(climate_data$prcp))
summary(Main_DataFrame2)
count(Main_DataFrame2)

     fips                tavg             prcp        country_code
 Length:178         Min.   :-22.06   Min.   : 0.000   Length:178
 Class :character   1st Qu.: 14.06   1st Qu.: 2.195   Class :character
 Mode  :character   Median : 23.37   Median : 4.580   Mode  :character
                    Mean   : 20.27   Mean   : 5.560
                    3rd Qu.: 27.14   3rd Qu.: 8.537
                    Max.   : 30.77   Max.   :20.825
                    NA's   :4
 country_name
 Length:178
 Class :character
 Mode  :character

  n
1 178

In [8]:
Main_DataFrame <- left_join(Main_DataFrame1, Main_DataFrame2, by = c("country_code")) %>%
  select(country_code, country_name.x, population, total_cases, total_deaths, total_vaccinations, vaccinated_1dose, fully_vacccinated, 
         total_vaccinations_per100,first_vaccine_date, last_updated_date, stringency_index,urbanisation_rate, urbanisation_yearly_change, gdp_per_cap, 
         density,tavg,prcp) %>%
  as.data.frame()

head(Main_DataFrame)
count(Main_DataFrame)
summary(Main_DataFrame)

  country_code country_name.x           population total_cases total_deaths
1 USA          United States of America  334998398 43792254    703599
2 IND          India                    1339330514 33971607    450782
3 BRA          Brazil                    213445417 21516967    599359
4 GBR          The United Kingdom         67081000  8154310    137735
5 RUS          Russian Federation        142320790  7804774    217372
6 TUR          Turkey                     82482383  7444552     66180
  total_vaccinations vaccinated_1dose fully_vacccinated
1 407615184          229155687        186883154
2 915465826          663807388        251658438
3 235087603          147951632         91654941
4  93948903           48956859         44877400
5  91151285           48610971         42539895
6 110333793           54038516         45664544
  total_vaccinations_per100 first_vaccine_date last_updated_date
1 123.146                   2020-12-14         2021-10-08
2  66.338                   2021-01-16         2021-10-05
3 110.599                   2021-01-17         2021-10-08
4 138.400                   2020-12-21         2021-10-05
5  62.500                   NA                 2021-10-06
6 130.800                   NA                 2021-10-06
  stringency_index urbanisation_rate urbanisation_yearly_change gdp_per_cap
1  93.52           82.9              0.96                       62530
2 100.00           35.4              2.33                        6700
3  96.76           87.3              0.87                       14652
4  87.96           84.2              0.80                       46659
5  87.04           74.9              0.11                       27044
6  87.04           76.6              1.11                       28424
  density tavg      prcp
1  34.07  10.465131  2.992851
2 407.43  26.987922 11.186954
3  25.06  24.467521  6.039909
4 275.36  10.143019  2.348262
5   8.32   2.007482  1.621112
6 105.27  17.046552  2.675626

  n
1 222

 country_code       country_name.x       population         total_cases
 Length:222         Length:222         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:5.939e+05   1st Qu.:    9998
 Mode  :character   Mode  :character   Median :5.880e+06   Median :  118087
                                       Mean   :3.506e+07   Mean   : 1070737
                                       3rd Qu.:2.526e+07   3rd Qu.:  518476
                                       Max.   :1.398e+09   Max.   :43792254

  total_deaths      total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0.0   Min.   :1.936e+03   Min.   :9.680e+02   Min.   :9.680e+02
 1st Qu.:   126.2   1st Qu.:1.910e+05   1st Qu.:1.187e+05   1st Qu.:7.546e+04
 Median :  1474.5   Median :1.662e+06   Median :8.598e+05   Median :6.304e+05
 Mean   : 21855.9   Mean   :2.949e+07   Mean   :1.714e+07   Mean   :1.242e+07
 3rd Qu.:  9779.0   3rd Qu.:1.098e+07   3rd Qu.:5.902e+06   3rd Qu.:4.602e+06
 Max.   :703599.0   Max.   :2.222e+09   Max.   :1.155e+09   Max.   :1.014e+09
                    NA's   :6           NA's   :10          NA's   :9
 total_vaccinations_per100 first_vaccine_date last_updated_date
 Min.   :  0.157           Length:222         Length:222
 1st Qu.: 26.710           Class :character   Class :character
 Median : 82.143           Mode  :character   Mode  :character
 Mean   : 79.883
 3rd Qu.:127.670
 Max.   :237.185
 NA's   :6
 stringency_index urbanisation_rate urbanisation_yearly_change  gdp_per_cap
 Min.   :  -Inf   Min.   :  0.00    Min.   :-1.230             Min.   :   752
 1st Qu.: 80.56   1st Qu.: 42.15    1st Qu.: 0.620             1st Qu.:  5201
 Median : 87.96   Median : 62.55    Median : 1.345             Median : 14184
 Mean   :  -Inf   Mean   : 60.58    Mean   : 1.663             Mean   : 22888
 3rd Qu.: 93.52   3rd Qu.: 81.08    3rd Qu.: 2.580             3rd Qu.: 34439
 Max.   :100.00   Max.   :100.00    Max.   : 5.430             Max.   :139100
 NA's   :40
    density              tavg             prcp
 Min.   :    0.03   Min.   :-4.154   Min.   : 0.000
 1st Qu.:   34.37   1st Qu.:14.136   1st Qu.: 2.353
 Median :   93.87   Median :23.562   Median : 4.904
 Mean   :  321.87   Mean   :20.669   Mean   : 5.723
 3rd Qu.:  213.50   3rd Qu.:27.203   3rd Qu.: 8.650
 Max.   :15611.50   Max.   :30.771   Max.   :20.825
                    NA's   :59       NA's   :56

In [10]:
Final_Data <- Main_DataFrame %>% mutate(Infection_Rate_per_100 = round((total_cases/population) * 100, digits = 2),
                                        Deaths_per_10000 = round((total_deaths/population)*10000, digits = 2), 
                                        total_vaccinations_per_100 = round(total_vaccinations_per100))%>%
                                  rename(country_name = country_name.x)%>%
                                  select(-9)%>%
                                  distinct(country_code, .keep_all = TRUE)
head(Final_Data)
summary(Final_Data)
write_csv (Final_Data, "FinalData.csv")

  country_code country_name             population total_cases total_deaths
1 USA          United States of America  334998398 43792254    703599
2 IND          India                    1339330514 33971607    450782
3 BRA          Brazil                    213445417 21516967    599359
4 GBR          The United Kingdom         67081000  8154310    137735
5 RUS          Russian Federation        142320790  7804774    217372
6 TUR          Turkey                     82482383  7444552     66180
  total_vaccinations vaccinated_1dose fully_vacccinated first_vaccine_date
1 407615184          229155687        186883154         2020-12-14
2 915465826          663807388        251658438         2021-01-16
3 235087603          147951632         91654941         2021-01-17
4  93948903           48956859         44877400         2020-12-21
5  91151285           48610971         42539895         NA
6 110333793           54038516         45664544         NA
  last_updated_date stringency_index urbanisation_rate
1 2021-10-08         93.52           82.9
2 2021-10-05        100.00           35.4
3 2021-10-08         96.76           87.3
4 2021-10-05         87.96           84.2
5 2021-10-06         87.04           74.9
6 2021-10-06         87.04           76.6
  urbanisation_yearly_change gdp_per_cap density tavg      prcp
1 0.96                       62530        34.07  10.465131  2.992851
2 2.33                        6700       407.43  26.987922 11.186954
3 0.87                       14652        25.06  24.467521  6.039909
4 0.80                       46659       275.36  10.143019  2.348262
5 0.11                       27044         8.32   2.007482  1.621112
6 1.11                       28424       105.27  17.046552  2.675626
  Infection_Rate_per_100 Deaths_per_10000 total_vaccinations_per_100
1 13.07                  21.00            123
2  2.54                   3.37             66
3 10.08                  28.08            111
4 12.16                  20.53            138
5  5.48                  15.27             62
6  9.03                   8.02            131

 country_code       country_name         population         total_cases
 Length:220         Length:220         Min.   :1.647e+03   Min.   :       0
 Class :character   Class :character   1st Qu.:5.599e+05   1st Qu.:    9912
 Mode  :character   Mode  :character   Median :5.880e+06   Median :  111237
                                       Mean   :3.511e+07   Mean   : 1076273
                                       3rd Qu.:2.416e+07   3rd Qu.:  522242
                                       Max.   :1.398e+09   Max.   :43792254

  total_deaths    total_vaccinations  vaccinated_1dose    fully_vacccinated
 Min.   :     0   Min.   :1.936e+03   Min.   :9.680e+02   Min.   :9.680e+02
 1st Qu.:   124   1st Qu.:1.901e+05   1st Qu.:1.174e+05   1st Qu.:7.513e+04
 Median :  1416   Median :1.634e+06   Median :8.542e+05   Median :6.139e+05
 Mean   : 21952   Mean   :2.957e+07   Mean   :1.718e+07   Mean   :1.246e+07
 3rd Qu.:  9439   3rd Qu.:1.075e+07   3rd Qu.:5.796e+06   3rd Qu.:4.691e+06
 Max.   :703599   Max.   :2.222e+09   Max.   :1.155e+09   Max.   :1.014e+09
                  NA's   :5           NA's   :9           NA's   :8
 first_vaccine_date last_updated_date  stringency_index urbanisation_rate
 Length:220         Length:220         Min.   :  -Inf   Min.   :  0.00
 Class :character   Class :character   1st Qu.: 80.56   1st Qu.: 42.45
 Mode  :character   Mode  :character   Median : 87.96   Median : 62.55
                                       Mean   :  -Inf   Mean   : 60.64
                                       3rd Qu.: 93.52   3rd Qu.: 81.12
                                       Max.   :100.00   Max.   :100.00
                                       NA's   :40
 urbanisation_yearly_change  gdp_per_cap        density
 Min.   :-1.230             Min.   :   752   Min.   :    0.03
 1st Qu.: 0.610             1st Qu.:  5209   1st Qu.:   33.55
 Median : 1.335             Median : 14478   Median :   93.87
 Mean   : 1.657             Mean   : 23044   Mean   :  322.12
 3rd Qu.: 2.560             3rd Qu.: 34612   3rd Qu.:  212.39
 Max.   : 5.430             Max.   :139100   Max.   :15611.50

      tavg             prcp        Infection_Rate_per_100 Deaths_per_10000
 Min.   :-4.154   Min.   : 0.000   Min.   : 0.000         Min.   : 0.0000
 1st Qu.:14.059   1st Qu.: 2.348   1st Qu.: 0.415         1st Qu.: 0.5475
 Median :23.374   Median : 4.800   Median : 3.185         Median : 3.9850
 Mean   :20.621   Mean   : 5.651   Mean   : 4.902         Mean   : 7.8084
 3rd Qu.:27.155   3rd Qu.: 8.647   3rd Qu.: 8.100         3rd Qu.:12.7650
 Max.   :30.771   Max.   :20.825   Max.   :22.680         Max.   :61.9700
 NA's   :58       NA's   :55
 total_vaccinations_per_100
 Min.   :  0.00
 1st Qu.: 28.00
 Median : 83.00
 Mean   : 80.16
 3rd Qu.:127.50
 Max.   :237.00
 NA's   :5